@import url('./reset.css');

body {
   font-family: Roboto, sans-serif;
   user-select: none;
   background-color: rgb(245, 221, 199);
}
.wrapper {
   
}
.game__wrapper {
   background-color: rgb(98, 41, 41);
   backdrop-filter: blur(0);
   box-shadow: 0 18px 200px -60px rgb(119, 1, 1);
   height: 35rem;
   width: 60rem;
   position: absolute;
   margin: 0;
   /* top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); */
   display: flex;
   align-items: center;
}

@media (max-width: 1000px) {
   .game__wrapper {
      transform: translate(0, 0);
   }
}

@media (min-width: 1000px) {
   .game__wrapper {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
}

.field__game {
   position: absolute;
   height: 30rem;
   width: 55rem;
   margin: 2rem 2.5rem;
}
.text__information {
   position: absolute;
   width: 100%;
   top: 3%;
   margin: 0 auto;
   color: #fff;
   letter-spacing: 2px;
   text-align: center;
   font-size: 18px;
}
.field__enemy, .field__player {
   height: 25%;
   width: 98%;
   /* border: 1px solid gainsboro; */
}
.field__fight{
   height: 36%;
   width: 98%;
   border: 2px solid rgb(245, 225, 194);
   border-radius: 20px;
   background-color: rgb(245, 210, 159);
}

.cards__place {
   width: 84.5%;
   justify-content: center;
}

.deck__place {
   position: relative;
   width: 15%;
   display: flex;
   
}

.cards__place, .deck__place {
   display: inline-block;
   height: 100%;
}

.field__player, .field__enemy, .field__fight {
   padding: 10px;
   margin: 0;
}

.field__player .card, .field__enemy .card {
   margin: 0 0 0 -35px;
}
.field__player .card:first-child, .field__enemy .card:first-child {
   margin: 0;
}
.field__player .card:hover {
   transform: translateY(-15px);
   transition: all ease .2s;
}
.field__player .card {
   transition: all ease .2s;
}
.field__container {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
}
.fight__content {
   height: 100%;
   display: flex;
   justify-content: space-between;
}

.button__do {
   border: none;
   /* background-color: rgb(9, 9, 9); */
   background: none;
   color: #000;
   min-width: 90px;
   min-height: 30px;
   letter-spacing: 2px;
   font-weight: 700;
   /* text-transform: lowercase; */
   text-align: center;
   transition: .15s ease-in-out;
}
.button__do:hover {
   /* background-color: rgb(246, 246, 246); */
   color: #fff;
   transition: .15s;
   cursor: pointer;
   /* box-shadow: 0px 0px 10px black; */
}
.button__do form input {
   outline: none;
   border: none;
   background: transparent;
   min-width: 90px;
   min-height: 30px;
}
.button__do form {
   min-width: 90px;
   min-height: 30px;
   position: absolute;
   top: 80%;
   left: 15%;
}
.deck {
   margin: 0 0 10px 35px;
   position: relative;
}
.deck__content{
   height: 100%;
   justify-content: space-between;
   display: flex;
   flex-direction: column;
}
.trump__card {
   position: absolute;
   margin: 0 0 0 -10px;
   height: 120px;
   width: 80px;
}
.trump {
   transform: rotate(-10deg);
}
.trump__suit {
   font-size: 4rem;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.card {
   position: relative;
   height: 120px;
   width: 80px;
   /* border: 1px solid black; */
   border-radius: .5rem;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   font-size: 4rem;
   background-color: #FFF;
}
.red {
   color: red;
}

.black {
   color: black;
}

.green {
   color: rgb(0, 255, 0);
}

.card::before,
.card::after {
   position: absolute;
   content: attr(data-value);
   font-size: 1rem;
}

.card::before {
   top: .5rem;
   left: .5rem
}
 
.card::after {
   bottom: .5rem;
   right: .5rem;
   transform: rotate(180deg);
}
.hidden {
   /* background-color: rgb(151, 41, 41); */
   background: url('../img/back-side.png');
   height: 120px;
   width: 80px;
   background-repeat: no-repeat; 
   background-size: cover; 
   background-position: center;
   outline: 3px solid #FFF;
   outline-offset: -3px;
   box-shadow: 0px 0px 10px black;
}
.hidden::before,
.hidden::after {
   position: absolute;
   content: '';
   font-size: 1rem;
}
.field__enemy .hidden {
   color: rgba(151, 41, 41, 0);
}
.field__player .card:hover {
   cursor: pointer;
}

.field__player .card.click {
   background-color: rgb(255, 208, 208);
}
.field__player .card {
   box-shadow: -10px 0px 30px rgba(0, 0, 0, 0.308);
}
.place {
   display: inline-block;
   position: relative;
   height: 100%;
   width: 80px;
}

.place__player {
   margin: 55px 0 0 0;
}

.place__player, .place__enemy {
   height: 120px;
   width: 80px;
   position: absolute;
}

.bottom__uid {
   position: fixed;
   top: 97.5%;
   left: 94%;
   font-size: 20px;
   font-weight: 700;
   color: rgb(32, 32, 32);
}